/* Responsive for Phone */
@media only screen and (max-width: 400px) {

  /* Start Banner Area */
  .site-title h1 {
    font: normal 700 30px/20px var(--roboto) !important;
    height: 2rem;
    padding-top: 2%;
  }

  .site-title h4 {
    font-size: 25px;
    line-height: 40px;
  }

  /* End Banner Area */
  /* Start About Area */
  .site-main .about-area .about-title {
    padding-left: 4%;
  }

  .site-main .about-area .about-title h2>span {
    font: normal 500 35px/45px var(--roboto);
    letter-spacing: 5px;
  }

  /* End About Area */

  /* Start Services Area */

  .site-main .services-area {
    padding: 4%;
  }

  .site-main .services-area .services-title {
    padding: 0 4% !important;
  }



  .site-main .services-area .services-list>.services {
    background-color: rgba(240, 250, 250, 0.978);
    width: 16rem;
    height: 80%;
    padding: 0 2rem !important;
    margin: 2.5rem 0.5rem !important;
  }


  /* End Services Area */

  /* Start Project Area */

  .site-main .project-area {
    padding: 0 4%;
  }

  .site-main .project-area .grid .our-project {
    padding: 1rem 2px;
  }

  /* End Project Area */

  /* Start Footer Area */
  .footer-area {
    height: 250px;
    position: relative;
    padding-bottom: 5%;
  }

  /* End Footer Area */
}

@media only screen and (max-width: 770px) {
  .site-main .services-area .services-list .services-container {
    padding-left: 13% !important;
  }
}

@media only screen and (max-width: 1020px) {

  .header_aria .main-menu .navbar .navbar-brand,
  .site-main .site-banner,
  .site-main .about-area,
  .site-main .services-area {
    padding: 0%;
    margin: 0%;
  }

  .navbar {
    padding: 3rem 8rem;
  }

  .site-main .about-area {
    padding: 3% 0%;
  }

  .site-main .site-banner {
    padding-bottom: 3%;
  }

  .site-main {
    padding: 0rem 0rem !important;
    margin: 0 !important;
  }

  .site-title {
    text-align: center;
    padding-bottom: 4%;
  }

  .site-title h1 {
    font: normal 700 50px/20px var(--roboto);
    padding: 2%;
  }

  .site-main .services-area .services-title {
    padding: 0 1%;
  }

  .site-main .services-area .services-list .services-container {
    padding-left: 2rem;
    padding-right: 4rem;
  }

  .site-main .project-area .button-group button {
    font: normal 500 15px/30px var(--roboto);
    text-transform: uppercase;
    padding: 1rem 0;
  }

  .site-main .project-area .grid .our-project>.title h3 {
    font: normal 700 20px/30px var(--roboto);
  }

  .site-main .ability-area .ability-area-title {
    padding: 0 0;
    padding-bottom: 2rem;
  }

  .footer-logo {
    width: 40%;
  }

  .footer-area {
    height: 200px;
  }
}